@import 'styles/_variables';

.wrapPage{
   
}

.nav{
    display: flex;
    align-items: center;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    background-color: $color-button;
}

.nameCard{
    margin-left: 14px;
    color: $color-text;
    
}

.list{
    padding: 0 0 0 24px;
}

.product{
    padding: 0;
    margin-bottom: 16px;
    list-style-type:none
 }

 
