@import "styles/_variables";

body {
  background-color: $bg;
  max-width: 300px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  }
  a:hover{

  text-decoration: none;
  }
  a:visited{
  
  text-decoration: none;
  }
  a:active{
  text-decoration: none;
  }
